div.manage-view-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    .manage-menu {
        flex: 1 0 29%;
    }
    .manage-content {
        flex: 1 0 69%;
    }
}
ul.manage-nav {
    list-style: none;
    padding-inline-start: 0;
    li.nav-item {
        color: var(--md-sys-color-primary);
        margin-top: 0.5rem;
        &:hover {
            opacity: 0.8;
        }
    }
    a.nav-link {
        padding: 0.3rem 0.4rem;
        border-radius: 0.4rem;
        border: none;
        outline: none;
        cursor: pointer;
        &.active {
            background: var(--md-sys-color-tertiary-container);
            color: var(--md-sys-color-on-tertiary-container);
            border: 1px solid var(--md-sys-color-outline);
        }
    }
}

.input-group {
    padding: 0.2rem;
    input {
        width: 15rem;
    }
}