<!DOCTYPE html>
<html lang="en" class="wa-theme-default wa-brand-blue wa-palette-default wa-dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg" href="/icon.svg" sizes="32x32">
    <title>User Admin</title>
    <link rel="stylesheet" href="~/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img class="logo" src="/icon.svg" alt="auth logo">
            </a>
            <h2>
                @ViewData["Title"]
            </h2>
            <nav class="navbar-nav">
                <a href="/Manager">
                    <span>Manager</span>
                </a>
                <a href="/Permissions">
                    <span>Permissions</span>
                </a>
                <partial name="_LoginPartial" />

            </nav>
        </nav>
    </header>
    <main>
        <section class="centered-content">
            @RenderBody()
        </section>
    </main>
    <script src="~/main.js" asp-append-version="true" type="module"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>