<!DOCTYPE html>
<html lang="en" class="wa-theme-default wa-brand-blue wa-palette-default">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspAuth Local</title>
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/light.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dark.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/manage.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img class="logo" src="/icon.svg" alt="auth logo">
            </a>
            <ul class="navbar-nav">
                <partial name="_LoginPartial" />
            </ul>
        </nav>
    </header>
    <main role="main">
        <section class="slot">
            @RenderBody()
        </section>
    </main>
    <footer>
        <div class="container">
            &copy; 2025 - id.logout.work - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true" type="module"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>