@using AspAuth.Lib.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Options
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IOptions<AuthenticationSettings> AuthOptions

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <wa-avatar initials="AM" label="@User.Identity?.Name!"></wa-avatar>
        </a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" 
            asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <wa-button type="submit" appearance="outlined" variant="warning">
                <wa-icon slot="start" name="right-from-bracket"></wa-icon>
                Log out
            </wa-button>
        </form>
    </li>
}
else
{
    @if (AuthOptions.Value.EnableRegistration)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
            <wa-button type="submit" appearance="outlined" variant="warning">
                <wa-icon name="arrow-right-to-bracket"></wa-icon>
                Log in
            </wa-button>
        </a>
    </li>
}

