@page
@using UserAdmin.Pages;
@model IndexModel
@{
    ViewData["Title"] = "";
}

<section id="home-page">
    <div >
        <p>
            To enter you need to authenticate
        </p>
        <div class="login-link">
            <a asp-page="/Manager">Go to Manager</a>
        </div>
        <div class="login-link">
            <a asp-page="/permissions">Permissions</a>
        </div>
    </div>

    <div>
        @if (!string.IsNullOrWhiteSpace(Model.LoggedInUserName))
        {
            <h2>Is Logged in</h2>
            <p>@Model.LoggedInUserName</p>

            <div class="login-link">
                <a asp-page="/Logout">Log out</a>
            </div>
        } else {
            <p>Not logged in</p>
        }
    </div>
</section>