@page
@using UserAdmin.Pages;
@model ManagerModel
@{
    ViewData["Title"] = "Db Update Manager";
}

<section id="home-page">
    <div class="row">
        <users-list></users-list>
    </div>
</section>