@page
@using UserAdmin.Pages;
@model PermissionsModel
@{
    ViewData["Title"] = "Db All permissions";
}

<section id="home-page">
    <div class="row">
        <clients-list></clients-list>
    </div>
</section>