@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="profile-view">
    <div>
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="input-group">
                
                <wa-input asp-for="Username" class="form-control" 
                    label="Username" disabled value="@Model.Username">
                </wa-input>
                
            </div>
            <div class="input-group">

                <wa-input asp-for="Phonenumber" class="form-control" 
                    label="Phone number" disabled value="@Model.Input.PhoneNumber">
                </wa-input>
                
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <wa-button id="update-profile-button" type="submit" disabled>
                Save
            </wa-button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
