@page
@model PasskeysModel
@{
    ViewData["Title"] = "Passkeys";
    ViewData["ActivePage"] = ManageNavPages.Passkeys;
}

<h3>@ViewData["Title"]</h3>

<h2>Existing keys</h2>
@foreach(var key in Model.Keys) {
    <p>@key</p>
}

