@page
@model PasskeysModel
@{
    ViewData["Title"] = "Passkeys";
    ViewData["ActivePage"] = ManageNavPages.Passkeys;
}

<h1>@ViewData["Title"]</h3>

<h2>Existing keys</h2>
@foreach(var key in Model.Keys) {
    <p>@key</p>
}

<div>
    <h2>Add new passkey</h2>
    <passkey-create></passkey-create>
</div>
<div>
    
</div>
@section Scripts {
    <script type="module" src="~/js/passkeyCreate.js"></script>
}